.bg-img-UserType {
    --background: #fff url("../images/vault29-blurred-background.jpg") no-repeat
      center center / cover;
  }
  .button-close {
    width: 50px;
  }
  .logo{
    height: 115px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 10px;
  }
  .txt-select-user-type{
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}